
@{
    ViewBag.Title = "View";
}

<script src="~/Scripts/AdminFunctions.js"></script>

<h2>Publish Data</h2>

<button type="button" class="btn btn-primary" onclick='publishData("classrooms")'>Classrooms</button>

<button type="button" class="btn btn-primary" onclick='publishData("faculties")'>Faculties</button>