  <appSettings>
    <!-- Auto Generated Settings -->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!-- Mail Settings -->
    <add key="MailerKey" value="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"/>
    <add key="ConfirmationEmailFrom" value="no-reply@studentinfo.windowsazure.net"/>
    <add key="SystemName" value="StudentInfo.NET"/>
  </appSettings>
