@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Settings.SystemName</h1>
    <p class="lead">@Settings.SystemName is a Student Information System created for INSE 6260 course.</p>
    
    @if (!User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Login", "Login", "Account", new { }, new { @class = "btn btn-primary btn-lg" })
    }
    else
    {
        <p style="font-size: 85%">
            Use the menu items at the top to get around.
        </p>
    }
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <img src="~/Content/Images/concordia_university.jpg" class="img-responsive img-rounded"  alt="Concordia University" />
    </div>
    <div class="col-md-1"></div>
</div>