
@{
    ViewBag.Title = "Request Confirmation Email";
}

<hgroup>
    <h1 class="text-warning">Your email is not confirmed</h1>
    <h2 class="text-left">We have sent to you a new link, please follow the link to confirm your email address</h2>
</hgroup>
