
@model StudentInfo.Users.Dto.SemesterCourse

@{
    Layout = "";
}

<div class="modal-header">
    <h4 class="modal-title">@Model.Course.Code - @Model.Course.Name</h4>
    <h6>Instructor: </h6>
</div>
<div>
    @Html.DropDownList("Instructors", StudentInfo.WebClient.Helpers.Helper.GetTeachers())
</div>
<div class="modal-body">
    <div class="modal-footer">
        <input type="submit" value="Save" class="btn btn-success" />
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
</div>