@{
    Layout = "";
}

<div class="modal-header">
    <h2>Calendar</h2>
</div>
<div class="modal-body">
    <p id="monthTitle"></p>
    <button class="btn btn-primary calendarNav" data-calendar-nav="next">Next</button>
    <button class="btn btn-primary calendarNav" data-calendar-nav="today">Today</button>
    <button class="btn btn-primary calendarNav" data-calendar-nav="prev">Previous</button>
    <div id="calendar"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>